.items-checkout{
    width: 90%;
    float: left;
    margin: 15px;
    border: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.item-checkout-product{
    width: 75%;
    height: 10%;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px 10px 0px;
    align-items: center;
    img{
        width: 10%;
    }
}


.checkout-product-details{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 200px;
    padding: 10px;
}
.css-b62m3t-container{
    width: 80px;
}
.checkout-total-product{
    border-left: 1px inset red;
}

.checkout-product-price{
    padding: 10px;
    border-bottom: 1px inset red;
}

.checkout-product-total-price{
    padding: 10px;
}

.checkout-product-action{
    margin-left: 30px;
}

.total-cart-price{
    width: 60%;
    float: right;
    display: flex;
    font-size: 1.5rem;
    justify-content: right;
}

.empty-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-buttons{
    display: flex;
    align-items: center;

    button{
        margin: 10px;
    }
}

form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    input{
        width: 75%;
        padding: 10px;
        margin: 10px;
    }
    button{
        width: 75%;
        padding: 10px;
        margin: 10px;
    }

}


.empty-cart{
    display: flex;
    align-content: center;
    justify-content: center;
}

.item-order-product{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-top: 1px inset red;
    border-bottom: 1px inset red;
    margin: 5px;
    img{
        width: 8%;
    }
}

.item-order-details{
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 150px;
}

.item-total-product{
    border-left: 1px inset red;
    border-right: 1px inset red;
}

.item-product-price{
    padding: 10px;
    border-bottom: 1px inset red;
}