.item{
    float: left;
    margin: 15px;
    border: 10px;
    box-shadow: 1px 1px 5px #f10b0b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    span{
        padding: 5px;
    }
    img {
        width: 80%;
        margin-top: 15px;
    }
    
}

.item-marca{
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.item-agregar-carrito{
    width: 90%;
    button{
        width: 90%;
        margin-bottom: 10px;
    }
}

.btn-detalle{
    text-decoration: none;
}