.item{
    float: left;
    width: calc(20% - 8px);
    margin: 15px;
    border: 10px;
    box-shadow: 1px 1px 5px #f10b0b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    span{
        padding: 5px;
    }
    img {
        width: 80%;
        margin-top: 15px;
    }
    
}

.item-contador{
    width: 90%;
    border-style: groove;
    margin: 10px;
}

.item-agregar-carrito{
    width: 90%;
    button{
        width: 100%;
        margin-bottom: 10px;
    }
}