.navbar-primary{
    float: left;
    width: 100%;
    box-shadow: 1px 3px 5px #f10b0b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;


    ul{
        display: flex;
        flex-grow: 1;
        list-style: none;
    }

    li{
        margin: 0px 10px;
        list-style: none;
    }

    button{
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        background: none;
        height: 40px;
        list-style: none;
        border-radius: 5px;
        color: black;
    }
    a{
        text-decoration: none;
    }
    img{
        width: 75px;
        height: 75px;
    }
}

