@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
*{
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}


.main-container{
  display: flex;
  width: 100%;
  padding: 0 30px;
}