.item-count{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 17px;

    p{
        padding: 5px;
    }

}

.item-agregar-carrito{
    width: 100%;
    text-decoration: none;
}